<form class="mt-5" method="post">
    <div class="mb-3">
        <label for="keyword" class="form-label">Key word </label>
        <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Search ...">
    </div>
    <div class="mb-3">
        <label for="gender" class="form-label">Gender</label>
        <select class="form-select" name="gender">
            <option selected>Open this select menu</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>